<%- include("../partials/header") %>

    <body>
        <h1>Simple Social App - ADMIN VIEW</h1>

        <%- include("../partials/nav") %>
            <h4>Recent posts</h4>
            <ul id="recent-posts">

                <% posts.forEach(post=>{ %>
                    <li>
                        <p>message: <%= post.message %> by user: <%= post.user %> with <%= post.likes %> likes</p>
                        
                            <form action="/deletePost" method="POST">
                                <input id=POSTID name=deletePostMessage type="hidden" value="<%= post.message %>">
                                <!-- <input type="button" value="Like"> -->
                                <button>Delete</button>
                            </form>
                            
                    </li>
                    <% }) %>

            </ul>


            
            <h4>Users</h4>
            <ul id="users">

                <% posts.forEach(post=>{ %>
                    <li>
                        <p>message: <%= post.message %> by user: <%= post.user %> with <%= post.likes %> likes</p>
                        
                            <form action="/deleteUser" method="POST">
                                <!-- <input type="button" value="Like"> -->
                                <button>Delete</button>
                            </form>
                            
                    </li>
                    <% }) %>

            </ul>
    </body>

    <%- include("../partials/footer") %>